/* Footer CSS Start */

.footer__area {
  overflow: hidden;
}

.footer__area-2 {
  background-repeat: no-repeat;
  background-position: top right;
}

@media (min-width: 1200px) {
  .footer__area-2 {
    background-size: 380px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer__area-2 {
    background-size: 350px;
  }
}

@media (max-width: 991px) {
  .footer__area-2 {
    background-size: 200px;
  }
}

.footer__area-3 {
  background-color: var(--black-2);
}

.footer__row {
  margin-left: -500px;
}

@media (max-width: 767px) {
  .footer__row {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__top {
  text-align: right;
}

.footer__top img {
  margin-bottom: -380px;
}

@media (min-width: 1200px) {
  .footer__top img {
    margin-bottom: -300px;
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer__top img {
    margin-bottom: -250px;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .footer__top img {
    margin-bottom: 0;
    width: 100%;
  }
}

.footer__top-2 {
  padding-bottom: 70px;
}

@media (max-width: 767px) {
  .footer__top-2 {
    padding-bottom: 50px;
  }
}

.footer__top-3 {
  border-bottom: 1px solid var(--black-6);
}

.footer__top-wrapper-3 {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 30% 10% auto;
}

@media (min-width: 1200px) {
  .footer__top-wrapper-3 {
    grid-template-columns: 35% 15% auto;
    gap: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer__top-wrapper-3 {
    grid-template-columns: 35% 20% auto;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__top-wrapper-3 {
    grid-template-columns: 35% 25% auto;
  }
}

@media (max-width: 767px) {
  .footer__top-wrapper-3 {
    padding: 0 15px;
    grid-template-columns: 1fr;
  }
}

.footer__middle-2 {
  border-top: 1px solid var(--white-2);
  border-bottom: 1px solid var(--white-2);
  padding: 95px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__middle-2 {
    padding: 60px 0;
  }
}

@media (max-width: 767px) {
  .footer__middle-2 {
    padding: 50px 0;
  }
}

.footer__location-2 {
  display: flex;
  gap: 100px;
}

@media (min-width: 1200px) {
  .footer__location-2 {
    gap: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer__location-2 {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .footer__location-2 {
    flex-direction: column;
    gap: 30px;
  }
}

.footer__location-2 .location h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: var(--black-2);
  padding-bottom: 10px;
}

.footer__btm {
  @media (min-width: 1200px) {
    padding-left: 55px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    padding-left: 100px;
  }

  @media (max-width: 767px) {
    background-color: var(--black-2);
  }
}

.footer__btm-2 {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .footer__btm-2 .row {
    flex-direction: column-reverse;
  }
}

.footer__btm-3 {
  padding: 50px;
}

@media (min-width: 1200px) {
  .footer__btm-3 {
    padding: 40px 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer__btm-3 {
    padding: 40px 15px;
  }
}

@media (max-width: 767px) {
  .footer__btm-3 {
    padding: 30px 10px;
  }
}

.footer__inner {
  background-color: var(--black-2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-left: 350px;
  position: relative;
  z-index: 9;
}

@media (min-width: 1600px) {
  .footer__inner {
    padding-left: 512px;
  }
}

/* Footer CSS End */
