
.client-carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.image-container {

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    gap: 20px;
}

.image-container.expanded {
    transform: scale(1.1); /* Add a scale effect when expanded */
}

.description-container {
    text-align: center;
    margin-top: 10px;
    color: white; /* Set the text color to white */
}

.description-container h2,
.description-container p {
    color: white; /* Set the text color of title and description to white */
}


/*.card {*/
/*    width: 300px; !* Adjust the width as needed *!*/
/*    height: 300px; !* Adjust the height as needed *!*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    cursor: pointer;*/
/*    overflow: hidden;*/
/*}*/

/*.card-content {*/
/*    background-color: white;*/
/*    padding: 20px;*/
/*    color: black; !* Adjust text color as needed *!*/
/*}*/
