.carousel-container {
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.item-description {
    color: red;
}

.carousel-controls {
    /* Adjusted position for better responsiveness */
    width: 10%;
    left: 3%;
    top: calc(100% - 5rem);
    transform: translateX(0);
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 0px;
    font-size: 20px;
    margin-left: 2rem;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.text-content,
p {
    font-size: 2rem;
    padding: 20px;
    color: white;
}

.arrow-container {
    position: absolute;
    top: 50%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    right: 0;
    gap: 5px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Media query for tablets (768px) */
@media only screen and (max-width: 768px) {
    .carousel-container {
        height: auto;
    }

    .carousel-controls {
        top: auto;
        bottom: 0;
        transform: translateX(0);
    }

    .text-content,
    p {
        font-size: 1.5rem;
        /* Additional styles for better readability on tablets */
        padding: 15px;
    }

    .arrow-container {
        font-size: 18px;
    }
}

/* Media query for mobile devices (480px) */
@media only screen and (max-width: 480px) {
    .carousel-controls {
        padding: 5px 0;
    }

    .text-content,
    p {
        font-size: 1.2rem;
        /* Additional styles for better readability on mobile devices */
        padding: 10px;
    }

    .arrow-container {
        font-size: 16px;
    }
}
