.footer__area {
    overflow: hidden;
}

.footer__area-2 {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200px;
}

@media (min-width: 992px) {
    .footer__area-2 {
        background-size: 350px;
    }
}

@media (min-width: 1200px) {
    .footer__area-2 {
        background-size: 380px;
    }
}

.footer__area-3 {
    background-color: var(--black-2);
}

.footer__row {
    margin-left: 0;
    margin-right: 0;
}

.footer__top {
    text-align: center;
}

.footer__top img {
    margin-bottom: 0;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer__top img {
        margin-bottom: -250px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .footer__top img {
        margin-bottom: -300px;
        width: 90%;
    }
}

.footer__top-2 {
    padding-bottom: 50px;
}

.footer__top-3 {
    border-bottom: 1px solid var(--black-6);
}

.footer__top-wrapper-3 {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr;
}

/* Media query for tablets (768px) */
@media (min-width: 768px) and (max-width: 991px) {
    .footer__top-wrapper-3 {
        grid-template-columns: 35% 25% auto;
    }
}

/* Media query for laptops (992px) */
@media (min-width: 992px) {
    .footer__top-wrapper-3 {
        grid-template-columns: 35% 20% auto;
        gap: 20px;
    }
}

/* Media query for larger screens (1200px) */
@media (min-width: 1200px) {
    .footer__top-wrapper-3 {
        grid-template-columns: 35% 15% auto;
        gap: 20px;
    }
}

.footer__middle-2 {
    border-top: 1px solid var(--white-2);
    border-bottom: 1px solid var(--white-2);
    padding: 50px 0;
}

/* Adjusted padding for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .footer__middle-2 {
        padding: 60px 0;
    }
}

.footer__location-2 {
    flex-direction: column;
    gap: 30px;
}

