/* Set styles for the wrapper */
.swiper-wrapper {

    box-sizing: border-box;
    position: relative;
}

/* Set styles for the container */
.swiper-container {
    /* Add styles for the container if needed */
}

/* Set styles for individual slides */
.swiper-slide {
    background: white;
    padding: 20px;
    box-sizing: border-box;
}

/* Set styles for the previous and next buttons */
.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;
    background-size: 50% 50%;
    position: absolute;
    z-index: 555;
}

/* Position the previous button */
.swiper-button-prev {
    left: -60px;
}

/* Position the next button */
.swiper-button-next {
    right: -60px;
}
