
/*.container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    max-width: 1800px;*/
/*    margin-block: 2rem;*/
/*    gap: 2rem;*/
/*}*/

/*img {*/
/*    max-width: 100%;*/
/*    display: block;*/
/*    object-fit: cover;*/
/*}*/

/*.card {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: clamp(20rem, calc(20rem + 2vw), 22rem);*/
/*    overflow: hidden;*/
/*    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);*/
/*    border-radius: 1em;*/
/*    background: #ECE9E6;*/
/*    background: linear-gradient(to right, #FFFFFF, #ECE9E6);*/
/*    width: 30rem;*/

/*}*/



/*.card__body {*/
/*    padding: 1rem;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: .5rem;*/
/*}*/


/*.tag {*/
/*    align-self: flex-start;*/
/*    padding: .25em .75em;*/
/*    border-radius: 1em;*/
/*    font-size: .75rem;*/
/*}*/

/*.tag + .tag {*/
/*    margin-left: .5em;*/
/*}*/

/*.tag-blue {*/
/*    background: #56CCF2;*/
/*    background: linear-gradient(to bottom, #2F80ED, #56CCF2);*/
/*    color: #fafafa;*/
/*}*/

/*.tag-brown {*/
/*    background: #D1913C;*/
/*    background: linear-gradient(to bottom, #FFD194, #D1913C);*/
/*    color: #fafafa;*/
/*}*/

/*.tag-red {*/
/*    background: #cb2d3e;*/
/*    background: linear-gradient(to bottom, #ef473a, #cb2d3e);*/
/*    color: #fafafa;*/
/*}*/

/*.card__body h4 {*/
/*    font-size: 1.5rem;*/
/*    text-transform: capitalize;*/
/*}*/

/*.card__footer {*/
/*    display: flex;*/
/*    padding: 1rem;*/
/*    margin-top: auto;*/
/*}*/

/*.user {*/
/*    display: flex;*/
/*    gap: .5rem;*/
/*}*/

/*.user__image {*/
/*    border-radius: 50%;*/
/*}*/

/*.user__info > small {*/
/*    color: #666;*/
/*}*/


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
    margin-block: 2rem;
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    /*box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);*/
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    width: 30rem;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info > small {
    color: #666;
}

/* Responsive Styles */

/* Desktop */
@media (min-width: 1025px) {
    .container {
        gap: 2rem;
    }

    .card {
        width: clamp(20rem, calc(20rem + 2vw), 22rem);
    }
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
    .container {
        gap: 1rem;
    }

    .card {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        gap: 1rem;
    }

    .card {
        width: 100%;
    }
}


