.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background: url('/public/assets/images/1.jpg');
    width: 350px;
    height: 400px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    background-size: cover;
    transition: .4s all;
}

.card:hover {
    background-size: 500px;
    background-position: center;
}

.card h2 {
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.card-content {
    top: 50%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 1;
}

.text-content,
p {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.card::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #3b3b3bbd;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
}

.card:hover::after {
    background: linear-gradient(#3c000000, #000000);
    opacity: 1;
}

.expand-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: 	#696969;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 99999;
}

.card:hover .expand-button {
    transform: scaleY(1); /* Show the button on hover */
}

.card:hover .card-content {
    opacity: 1;
    transform: translateX(0);
}

.row1,
.row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
    margin: 0 auto;
}

.row1 {
    margin-bottom: 30px;
}

.row2 {
    margin-top: 30px;
}

/* Media query for tablets (768px) */
@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: 70%; /* Adjust the width for tablets */
    }
}

/* Media query for laptops (992px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .card {
        width: 50%; /* Adjust the width for laptops */
    }
}

/* Media query for larger screens (1200px and above) */
@media (min-width: 1200px) {
    .card {
        width: 20%; /* Adjust the width for larger screens */
    }
}
